PIC18/MPU6050/Examples/MPU6050_raw.X/dist/
PIC18/MPU6050/Examples/MPU6050_raw.X/nbproject/private/
PIC18/MPU6050/Examples/MPU6050_raw.X/build/

# Build files #
###############
*.o
*.d
*.elf
*.map
STM32/MPU6050/example/i2c.c
STM32/MPU6050/example/i2c.h
STM32/MPU6050/example/mpu6050.c
